
<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>nest-image-processing</symbolicName>
    <version>4C-1.1</version>
    <name>NEST Image Processing</name>
    <description>NEST Image Processing</description>
	
    <vendor>Array Systems Computing Inc</vendor>
    <contactAddress>1120 Finch Ave W. Toronto (Canada)</contactAddress>
    <copyright>(C) 2012 by Array Systems Computing Inc</copyright>
    <url>http://www.array.ca/nest</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>
    <funding>European Space Agency</funding>

    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>beam-gpf</module>
    </dependency>
    <dependency>
        <module>nest-core</module>
    </dependency>
    <dependency>
        <module>nest-graph-builder</module>
    </dependency>
    <dependency>
        <module>nest-dat</module>
    </dependency>

    <categories>Processing</categories>

    <extension point="beam-ui:actions">
        
        <action>
            <id>ImageProcessingGroup</id>
            <class>org.esa.beam.visat.actions.ActionGroup</class>
            <text>Image Processing</text>
            <parent>sartools</parent>
            <placeAfter>CoregistrationGraph</placeAfter>
        </action>

        <action>
            <id>MorphologyOp</id>
            <helpId>MorphologyOp</helpId>
            <class>org.esa.nest.dat.actions.OperatorAction</class>
            <icon>esaIcon</icon>
            <parent>ImageProcessingGroup</parent>
            <text>Morphology Operators</text>
            <operatorName>MorphologyOperator</operatorName>
            <dialogTitle>Morphology Operators</dialogTitle>
            <shortDescr>Invoke a Morphology Operator on a single product</shortDescr>
            <targetProductNameSuffix>_Mrh</targetProductNameSuffix>
        </action>
        
        <action>
            <id>ActiveContourOp</id>
            <helpId>ActiveContourOp</helpId>
            <class>org.esa.nest.dat.actions.OperatorAction</class>
            <icon>esaIcon</icon>
            <parent>ImageProcessingGroup</parent>
            <text>Active Contour</text>
            <operatorName>ActiveContour</operatorName>
            <dialogTitle>Active Contour</dialogTitle>
            <shortDescr>Invoke Active Contour on a single product</shortDescr>
            <targetProductNameSuffix>_Hys</targetProductNameSuffix>
        </action>
        
        <action>
            <id>LocalFeaturesDetectionGroup</id>
            <class>org.esa.beam.visat.actions.ActionGroup</class>
            <text>Local Features Detection</text>
            <parent>ImageProcessingGroup</parent>
            <placeAfter>CoregistrationGraph</placeAfter>
        </action>
        
        <action>
            <id>SIFTKeypointOp</id>
            <helpId>SIFTKeypointOp</helpId>
            <class>org.esa.nest.dat.actions.OperatorAction</class>
            <icon>esaIcon</icon>
            <parent>LocalFeaturesDetectionGroup</parent>
            <text>SIFT Keypoints Detector</text>
            <operatorName>SIFTKeypoint</operatorName>
            <dialogTitle>SIFT Keypoints Detector</dialogTitle>
            <shortDescr>Invoke SIFT Keypoints Detector on a single product</shortDescr>
            <targetProductNameSuffix>_Sft</targetProductNameSuffix>
        </action>
        
        <action>
            <id>ASIFTKeypointOp</id>
            <helpId>ASIFTKeypointOp</helpId>
            <class>org.esa.nest.dat.actions.OperatorAction</class>
            <icon>esaIcon</icon>
            <parent>LocalFeaturesDetectionGroup</parent>
            <text>ASIFT Keypoints Detector</text>
            <operatorName>SIFTKeypoint</operatorName>
            <dialogTitle>ASIFT Keypoints Detector</dialogTitle>
            <shortDescr>Invoke ASIFT Keypoints Detector on a single product</shortDescr>
            <targetProductNameSuffix>_ASft</targetProductNameSuffix>
        </action>
        
        <action>
            <id>ThresholdingMethodsGroup</id>
            <class>org.esa.beam.visat.actions.ActionGroup</class>
            <text>Thresholding Methods</text>
            <parent>ImageProcessingGroup</parent>
            <placeAfter>LocalFeaturesDetectionGroup</placeAfter>
        </action>
        
        <action>
            <id>MaximumEntropyThresholdingOp</id>
            <helpId>MaximumEntropyThresholdingOp</helpId>
            <class>org.esa.nest.dat.actions.OperatorAction</class>
            <icon>esaIcon</icon>
            <parent>ThresholdingMethodsGroup</parent>
            <text>Maximum Entropy Thresholding</text>
            <operatorName>MaximumEntropyThresholding</operatorName>
            <dialogTitle>Maximum Entropy Thresholding</dialogTitle>
            <shortDescr>Invoke MaximumEntropy Thresholding on a single product</shortDescr>
            <targetProductNameSuffix>_Met</targetProductNameSuffix>
        </action>
        
        <action>
            <id>BasicThresholdingOp</id>
            <helpId>BasicThresholdingOp</helpId>
            <class>org.esa.nest.dat.actions.OperatorAction</class>
            <icon>esaIcon</icon>
            <parent>ThresholdingMethodsGroup</parent>
            <text>Basic Thresholding Methods</text>
            <operatorName>BasicThresholding</operatorName>
            <dialogTitle>Basic Thresholding Methods</dialogTitle>
            <shortDescr>Invoke Basic Thresholding Methods on a single product</shortDescr>
            <targetProductNameSuffix>_Bt</targetProductNameSuffix>
        </action>
        
        <action>
            <id>OtsuThresholdingOp</id>
            <helpId>OtsuThresholdingOp</helpId>
            <class>org.esa.nest.dat.actions.OperatorAction</class>
            <icon>esaIcon</icon>
            <parent>ThresholdingMethodsGroup</parent>
            <text>Otsu Thresholding</text>
            <operatorName>OtsuThresholding</operatorName>
            <dialogTitle>Otsu Thresholding</dialogTitle>
            <shortDescr>Invoke Otsu Thresholding on a single product</shortDescr>
            <targetProductNameSuffix>_Ot</targetProductNameSuffix>
        </action>
        
        <action>
            <id>MixtureModelingThresholdingOp</id>
            <helpId>MixtureModelingThresholdingOp</helpId>
            <class>org.esa.nest.dat.actions.OperatorAction</class>
            <icon>esaIcon</icon>
            <parent>ThresholdingMethodsGroup</parent>
            <text>Mixture Modeling Thresholding</text>
            <operatorName>MixtureModelingThresholding</operatorName>
            <dialogTitle>Mixture Modeling Thresholding</dialogTitle>
            <shortDescr>Invoke Mixture Modeling Thresholding on a single product</shortDescr>
            <targetProductNameSuffix>_Mmt</targetProductNameSuffix>
        </action>
        
        <action>
            <id>HysteresisThresholdingOp</id>
            <helpId>HysteresisThresholdingOp</helpId>
            <class>org.esa.nest.dat.actions.OperatorAction</class>
            <icon>esaIcon</icon>
            <parent>ThresholdingMethodsGroup</parent>
            <text>Hysteresis Thresholding</text>
            <operatorName>HysteresisThresholding</operatorName>
            <dialogTitle>Hysteresis Thresholding</dialogTitle>
            <shortDescr>Invoke Hysteresis Thresholding on a single product</shortDescr>
            <targetProductNameSuffix>_Hys</targetProductNameSuffix>
        </action>
        
        <action>
            <id>DericheEdgeDetectorOp</id>
            <helpId>DericheEdgeDetectorOp</helpId>
            <class>org.esa.nest.dat.actions.OperatorAction</class>
            <icon>esaIcon</icon>
            <parent>ImageProcessingGroup</parent>
            <text>Deriche Edge Detector</text>
            <operatorName>DericheEdgeDetector</operatorName>
            <dialogTitle>Deriche Edge Detector</dialogTitle>
            <shortDescr>Invoke Deriche Edge Detector on a single product</shortDescr>
            <targetProductNameSuffix>_Ded</targetProductNameSuffix>
        </action>
        
        <action>
            <id>MSEROp</id>
            <helpId>MSEROp</helpId>
            <class>org.esa.nest.dat.actions.OperatorAction</class>
            <icon>esaIcon</icon>
            <parent>ImageProcessingGroup</parent>
            <text>MSER Detector</text>
            <operatorName>MSER</operatorName>
            <dialogTitle>MSER Detector</dialogTitle>
            <shortDescr>Invoke MSER Detector on a single product</shortDescr>
            <targetProductNameSuffix>_Ded</targetProductNameSuffix>
        </action>
        
    </extension>

    <extension point="beam-ui:helpSets">
        <helpSet>
            <parent>beam-help</parent>
            <id>imageprocHelp</id>
            <path>doc/help/imageproc.hs</path>
        </helpSet>
    </extension>
</module>
