
<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>nest-image-processing</symbolicName>
    <version>4C-1.1</version>
    <name>NEST Image Processing</name>
    <description>NEST Image Processing</description>
	
    <vendor>Array Systems Computing Inc</vendor>
    <contactAddress>1120 Finch Ave W. Toronto (Canada)</contactAddress>
    <copyright>(C) 2012 by Array Systems Computing Inc</copyright>
    <url>http://www.array.ca/nest</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>
    <funding>European Space Agency</funding>

    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>beam-gpf</module>
    </dependency>
    <dependency>
        <module>nest-core</module>
    </dependency>
    <dependency>
        <module>nest-graph-builder</module>
    </dependency>
    <dependency>
        <module>nest-dat</module>
    </dependency>

    <categories>Processing</categories>

    <extension point="beam-ui:actions">
        
        <action>
            <id>ImageProcessingGroup</id>
            <class>org.esa.beam.visat.actions.ActionGroup</class>
            <text>Image Processing</text>
            <parent>sartools</parent>
            <placeAfter>CoregistrationGraph</placeAfter>
        </action>

        <action>
            <id>MorphologyOp</id>
            <helpId>MorphologyOp</helpId>
            <class>org.esa.nest.dat.actions.OperatorAction</class>
            <icon>esaIcon</icon>
            <parent>ImageProcessingGroup</parent>
            <text>Morphology Operators</text>
            <operatorName>MorphologyOperator</operatorName>
            <dialogTitle>Morphology Operators</dialogTitle>
            <shortDescr>Invoke a Morphology Operator on a single product</shortDescr>
            <targetProductNameSuffix>_Mrh</targetProductNameSuffix>
        </action>
        <action>
            <id>OtsuThresholdingOp</id>
            <helpId>OtsuThresholdingOp</helpId>
            <class>org.esa.nest.dat.actions.OperatorAction</class>
            <icon>esaIcon</icon>
            <parent>ImageProcessingGroup</parent>
            <text>Otsu Thresholding</text>
            <operatorName>OtsuThresholding</operatorName>
            <dialogTitle>Otsu Thresholding</dialogTitle>
            <shortDescr>Invoke Otsu Thresholding on a single product</shortDescr>
            <targetProductNameSuffix>_Ot</targetProductNameSuffix>
        </action>
        <action>
            <id>MixtureModelingThresholdingOp</id>
            <helpId>MixtureModelingThresholdingOp</helpId>
            <class>org.esa.nest.dat.actions.OperatorAction</class>
            <icon>esaIcon</icon>
            <parent>ImageProcessingGroup</parent>
            <text>Mixture Modeling Thresholding</text>
            <operatorName>MixtureModelingThresholding</operatorName>
            <dialogTitle>Mixture Modeling Thresholding</dialogTitle>
            <shortDescr>Invoke Mixture Modeling Thresholding on a single product</shortDescr>
            <targetProductNameSuffix>_Mmt</targetProductNameSuffix>
        </action>
        
        <action>
            <id>HysteresisThresholdingOp</id>
            <helpId>HysteresisThresholdingOp</helpId>
            <class>org.esa.nest.dat.actions.OperatorAction</class>
            <icon>esaIcon</icon>
            <parent>ImageProcessingGroup</parent>
            <text>Hysteresis Thresholding</text>
            <operatorName>HysteresisThresholding</operatorName>
            <dialogTitle>Hysteresis Thresholding</dialogTitle>
            <shortDescr>Invoke Hysteresis Thresholding on a single product</shortDescr>
            <targetProductNameSuffix>_Hys</targetProductNameSuffix>
        </action>
        
        <action>
            <id>ActiveContourOp</id>
            <helpId>ActiveContourOp</helpId>
            <class>org.esa.nest.dat.actions.OperatorAction</class>
            <icon>esaIcon</icon>
            <parent>ImageProcessingGroup</parent>
            <text>Active Contour</text>
            <operatorName>ActiveContour</operatorName>
            <dialogTitle>Active Contour</dialogTitle>
            <shortDescr>Invoke Active Contour on a single product</shortDescr>
            <targetProductNameSuffix>_Hys</targetProductNameSuffix>
        </action>
        
        <action>
            <id>SIFTKeypointOp</id>
            <helpId>SIFTKeypointOp</helpId>
            <class>org.esa.nest.dat.actions.OperatorAction</class>
            <icon>esaIcon</icon>
            <parent>ImageProcessingGroup</parent>
            <text>SIFT Keypoint</text>
            <operatorName>SIFTKeypoint</operatorName>
            <dialogTitle>SIFT Keypoint</dialogTitle>
            <shortDescr>Invoke SIFT Keypoint on a single product</shortDescr>
            <targetProductNameSuffix>_Sft</targetProductNameSuffix>
        </action>
        <action>
            <id>ASIFTKeypointOp</id>
            <helpId>ASIFTKeypointOp</helpId>
            <class>org.esa.nest.dat.actions.OperatorAction</class>
            <icon>esaIcon</icon>
            <parent>ImageProcessingGroup</parent>
            <text>ASIFT Keypoint</text>
            <operatorName>SIFTKeypoint</operatorName>
            <dialogTitle>ASIFT Keypoint</dialogTitle>
            <shortDescr>Invoke ASIFT Keypoint on a single product</shortDescr>
            <targetProductNameSuffix>_Sft</targetProductNameSuffix>
        </action>
        <action>
            <id>MaximumEntropyThresholdingOp</id>
            <helpId>MaximumEntropyThresholdingOp</helpId>
            <class>org.esa.nest.dat.actions.OperatorAction</class>
            <icon>esaIcon</icon>
            <parent>ImageProcessingGroup</parent>
            <text>MaximumEntropyThresholdingOp</text>
            <operatorName>MaximumEntropyThresholding</operatorName>
            <dialogTitle>MaximumEntropyThresholdingOp</dialogTitle>
            <shortDescr>Invoke MaximumEntropyThresholdingOp on a single product</shortDescr>
            <targetProductNameSuffix>_Met</targetProductNameSuffix>
        </action>
        <action>
            <id>BasicThresholdingOp</id>
            <helpId>BasicThresholdingOp</helpId>
            <class>org.esa.nest.dat.actions.OperatorAction</class>
            <icon>esaIcon</icon>
            <parent>ImageProcessingGroup</parent>
            <text>BasicThresholdingOp</text>
            <operatorName>BasicThresholding</operatorName>
            <dialogTitle>BasicThresholdingOp</dialogTitle>
            <shortDescr>Invoke BasicThresholdingOp on a single product</shortDescr>
            <targetProductNameSuffix>_Met</targetProductNameSuffix>
        </action>
        
        <action>
            <id>DericheEdgeDetectorOp</id>
            <helpId>DericheEdgeDetectorOp</helpId>
            <class>org.esa.nest.dat.actions.OperatorAction</class>
            <icon>esaIcon</icon>
            <parent>ImageProcessingGroup</parent>
            <text>DericheEdgeDetector</text>
            <operatorName>DericheEdgeDetector</operatorName>
            <dialogTitle>Deriche Edge Detector</dialogTitle>
            <shortDescr>Invoke Deriche Edge Detector on a single product</shortDescr>
            <targetProductNameSuffix>_Ded</targetProductNameSuffix>
        </action>
    </extension>

    <extension point="beam-ui:helpSets">
        <helpSet>
            <parent>beam-help</parent>
            <id>sartoolsHelp</id>
            <path>doc/help/sartools.hs</path>
        </helpSet>
    </extension>
</module>
